input[type=text]{
    padding: .4em;
}

body{

    font-family: 'Allerta Stencil', sans-serif;
}


label{
    width: 50%;
    display: inline-block;
    text-align: right;
}

input[type=checkbox], input[type=button]{
    margin-left: 50%;
}